<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Forum</title>
  <meta name="viewport" content="width=device-width, inital scale=1.0">
  <link rel="stylesheet" href="static/forum.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
  
<body>
    <header>
        <nav>
            <a href="home.html"><img id= "dragon" src="static/photos\whitedragon.png" style="width:5.313rem;height:4.375rem; padding-left: 1.25rem; padding-bottom: 0.938rem; margin-right: 5px;"></a>
            </label>
            <label class = "logo">Dragon-Op</label>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="forum.html">Majors</a></li>
                <li><a href="co_ops.html">Co-ops</a></li>
                <li><a href="posts.html">Submissions</a></li>
            </ul>
        </nav>
        </div>
        <div class="search-box">
            <div>
                <input type="text" name="q" id="" placeholder="search ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="navigate">
            <span><a href="#">Forum</a> >> <a href="#">Random Major</a></span>
        </div>        
        <div class="posts-table">
            <div class="table-head">
                <div class="profile">Profile</div>
                <div class="majors">Major</div>
                <div class="replies">Replies/Views</div>
                <div class="last-reply">Last Reply</div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #1</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #2</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #3</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #4</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #5</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #6</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #7</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #8</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #9</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
            <div class="table-row">
                <div class="profile"><i class="fa fa-user-o"></i></div>
                <div class="majors">
                    <a href="#">Co-op #10</a>
                    <br>
                    <span>Started by <b><a href="#">User</a></b>.</span>
                </div>
                <div class="replies">
                    2 replies <br> 25 views
                </div>
                <div class="last-reply">
                    Dec 22 2023
                    <br>
                    By <b><a href="#">User</a></b>
                </div>
            </div>
        </div>

        <div class="pagination">
            pages: <a href="#">1</a><a href="#">2</a><a href="#">3</a>
        </div>
    </div>


    
 
