<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Responsive NavBar</title>
  <meta name="viewport" content="width=device-width, inital scale=1.0">
  <link rel="stylesheet" href="static/help.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
  
<body>
  <nav>
    <a href="home.html"><img id= "dragon" src="static/photos\whitedragon.png" style="width:5.313rem;height:4.375rem; padding-left: 1.25rem; padding-bottom: 0.1rem; padding-top: 0.85rem;"></a>
    <input type="checkbox" id="check">
    <label for="check" class ="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class = "logo">Dragon-Op</label>
    <ul>
        <li><a href="home.html">Home</a></li>
    </ul>
</nav>
<div id="privacy">
  <h1>Data Privacy Statement</h1>
  <p>The data our website collects includes user emails and passwords linked to those accounts. User passwords are protected by a hash in the auth.py file, meaning all user passwords will be encrypted. The database stores first name, last name, email, and passwords collected in the User class of our database.</p>
</div>
<div id="system">
  <h1>System's Guide</h1>
  <h2>System Manual</h2>
  <p>
    Minimum Hardware and Software Requirements: <br>
    -A laptop or computer (a working device) <br>
    -A WIFI connection <br>
    -A working broswer <br>
    -A Drexel email<br>
  </p>
  <h2>Installation Guide</h2>
  <p>There are no installations required to use this program!</p>
  <h2>Troubleshooting</h2>
  <p>Attempting to access forum? <br>
    Error: Make sure you log in with your valid Drexel email, prior to attmepting to acessing the forum <br>
  </p>
  <h2>Questions?</h2>
  <p>If you have any unaddressed questions, please feel free to contact us! <br>
    Joanna Nguyen: jvn32@drexel.edu <br>
    Derrick Borden: db3532@drexel.edu <br>
    Patrick Utama: pcu26@drexel.edu <br>
    Matthew Li: msl338@drexel.edu <br>
  </p>
</div>

<footer></footer>